*{
    padding: 0%;
    margin: 0%;
}
.project{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    .navbar{
        display: flex;
        gap: 30px;
        a{
            text-decoration: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            padding: 10px 10px;
        }
    }
    .icon{
        display: flex;
        gap: 20px;
        font-size: 20px;
        padding: 10px 10px;
    }
}

.heading{
    display: flex;
    justify-content: center;
    margin-top: 20px;

    i{
        color: blue;
        font-size: 40px;
    }
    h1{
        color: rgb(21, 21, 51);
    }
    
}
.heding2{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
    
    a{
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
.border{

    border-bottom: 1px solid black;
    width: 80%;
    margin-left: 150px;

}

.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   justify-content: center;
    padding: 20px;
    
    margin-top: 20px;
    .card1{
        width: 400px;
        border: 1px solid rgb(11, 11, 11);
    }
    img{
        width: 400px;
    }
    h2{
        padding: 5px 5px;
        color: rgb(13, 13, 55);
    }
    p{
        text-align: justify;
        padding: 5px 5px;
        color: rgb(90, 88, 88);
    }
}
.footer{
    border: 1px solid rebeccapurple;
    background-color: rgb(30, 30, 90);
    padding-left: 90px;
    padding-right: 90px;

    .footer1{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        i{
            font-size: 40px;
            color: white;
            margin-top: 20px;
            padding-left: 20px;
        }
        h2{
            font-size: 30px;
            color: white;
            margin-bottom: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .bor{
        border-bottom: 1px solid white;
    }
    h1{
        color: white;
        padding-top: 20px;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 630px;
        padding-bottom: 20px;
    }
    .footer2{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 20px;

        
        a{
            font-size: 40px;
            color: wheat;
        
        }
    }
}